<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsm.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".root.App"
        android:hardwareAccelerated="false"
        android:largeHeap="true"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".home.HomeActivity" android:launchMode="singleTop"/>
        <activity android:name=".legacy.module.zongler.ZonglerActivity" />
        <activity android:name=".legacy.module.PhotoVideoFullscreenDisplay" />
        <activity android:name=".legacy.module.wizard.list.WizardsActivity" />
        <activity android:name=".legacy.module.info.sm.SideMissionsInfoActivity" />
        <activity android:name=".legacy.module.calendar.CalendarTimesActivity" />
        <activity android:name=".legacy.module.calendar.CalendarDaysActivity" />
        <activity android:name=".legacy.module.info.mc.MainCompetitionInfoActivity" />
        <activity android:name=".judge.list.JudgeSMListActivity" />
        <activity android:name=".legacy.module.judge.rate.JudgeRateSMActivity" />
        <activity android:name=".legacy.module.judge.rate.JudgeRateSMPostActivity" />
        <activity android:name=".legacy.module.wizard.sm.list.AddSMListActivity" />
        <activity android:name=".legacy.module.wizard.sm.AddSMActivity" />
        <activity android:name=".legacy.module.wizard.sm.post.AddSMPostActivity" />
        <activity android:name=".legacy.module.professor.mc.AddMCActivity" />
        <activity android:name=".legacy.module.professor.bet.AddBetActivity" />
        <activity android:name=".legacy.module.professor.medal.AddMedalActivity" />
        <activity android:name=".legacy.module.professor.medal.MedalEditDetailsActivity" />
        <activity android:name=".points.list.PointsListActivity" />
        <activity android:name=".legacy.module.points.details.sm.SMResultDisplayActivity" />
        <activity android:name=".legacy.module.points.details.sm.post.SMPostResultDisplayActivity" />
        <activity android:name=".legacy.module.points.details.bet.BetResultDisplayActivity" />
        <activity android:name=".legacy.module.points.details.medal.MedalResultDisplayActivity" />
        <activity android:name=".legacy.module.points.details.mc.MCResultDisplayActivity" />
        <activity android:name=".professor.sm.list.RateSMListActivity" />
        <activity android:name=".legacy.module.professor.rate.sm.ProfRateSideMissionActivity" />
        <activity android:name=".legacy.module.professor.rate.sm.ProfRateSMPostActivity" />

        <service android:name=".legacy.module.wizard.sm.ReportUploader" />
    </application>
</manifest>
